{% schema %}
  {
    "name": "Return icons",
    "settings": []
  }
{% endschema %}

<div class="container">

  <h1 class="page__title heading h1">Returns & Exchanges</h1>

  <ul class="return-icons">
    <li><a href="#">Return</a></li>
    <li><a href="#">Exchange</a></li>
    <li><a href="#">Print a Returns Form</a></li>
    <li><a href="#">Print Postal Returns Label</a></li>
  </ul>

</div>

{% stylesheet %}
  .return-icons {
    display: flex;
    width: 100%;
  }
  .return-icons li {
    list-style: none;
    width: 25%;
    display: flex;
    justify-content: center;
    align-item: center;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}