{% schema %}
  {
    "name": "Return icons",
    "settings": []
  }
{% endschema %}

<div class="container">

  <h1 class="page__title heading h1">Returns & Exchanges</h1>

  <ul class="return-icons">
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
  </ul>
  ABc1234
</div>

{% stylesheet %}
  .return-icons {
    display: flex;
  }
  .return-icons li {
   list-style: none;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}