<section data-section-id="{{ section.id }}" data-section-settings='{{ section_settings }}' class="hero">
  <div class="container">
    Stods Picks
  </div>
</section>


{% schema %}
  {
    "name": "Stods Picks",
    "blocks": [],
    "presets": []
  }
{% endschema %}

{% javascript %}
{% endjavascript %}