<section data-section-id="{{ section.id }}" data-section-settings='{{ section_settings }}' class="hero">
  <div class="container">

  </div>
</section>

{% stylesheet %}

{% endstylesheet %}

{% schema %}
  {
    "name": "Stods Picks",
    "max_blocks": 6,
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "category": "Product",
        "name": "Stods Picks"
      }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}