<section class="section" id="trustpilot-reviews" data-section-id="1623745535b6d5982d" data-section-type="html">
  <div class="container"><div class="html rte">
    <div class="review-highlights">
      <div class="tp-review">
        <div class="review-rating"> <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="Trustpilot Rating" width="100px" height="auto">
        </div>
        <div class="review-title"> <span>Perfect customer service</span>
        </div>
        <div class="review-content"> <span>The service Ardmoor offers is absolutely exemplary. I can't fault it at all. And the products are great as well.</span>
        </div>
        <div class="review-name"> <span><a href="https://www.trustpilot.com/reviews/63adf71f4d0773066a28b42d" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Matt L
</a></span>
        </div>
      </div>
      <div class="tp-review">
        <div class="review-rating"> <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="Trustpilot Rating" width="100px" height="auto">
        </div>
        <div class="review-title"> <span>Great product at a competitive price
</span>
        </div>
        <div class="review-content"> <span>Great product at a competitive price. Easy to order and delivered on time.</span>
        </div>
        <div class="review-name"> <span><a href="https://www.trustpilot.com/reviews/63ad820c2338b6d417aa22c7" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Steve</a></span>
        </div>
      </div>
      <div class="tp-review">
        <div class="review-rating"> <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="Trustpilot Rating" width="100px" height="auto">
        </div>
        <div class="review-title"> <span>Effortless ordering</span>
        </div>
        <div class="review-content"> <span>Effortless ordering. Fast delivery. Great service. Great products. Good prices. Would highly recommend</span>
        </div>
        <div class="review-name"> <span><a href="https://www.trustpilot.com/reviews/63af00d32338b6d417ab61ca" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Stuart Dodd</a></span>
        </div>
      </div>     
    </div>
    </div>
  </div>
</section>

<!-- TrustBox widget - Micro Combo -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="53f365d8000064000579b705" data-style-height="50px" data-style-width="100%" data-theme="light">
  <a style="color: #fff;" href="https://uk.trustpilot.com/review/www.ardmoor.co.uk" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->

{% schema %}
{
  "name": "Trustpilot Examples",
  "presets": [
    {
      "category": "Text",
      "name": "Trustpilot Examples"
    }
  ]
}
{% endschema %}