<section class="section" id="trustpilot-reviews" data-section-id="1623745535b6d5982d" data-section-type="html">
  <div class="container"><div class="html rte">
    <div class="review-highlights">
      <div class="tp-review">
        <div class="review-rating"> <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="Trustpilot Rating" width="100px" height="auto">
        </div>
        <div class="review-title"> <span>Fair deal</span>
        </div>
        <div class="review-content"> <span>Fair deal, quick delivery, and as described!! I quite like Ardmoor</span>
        </div>
        <div class="review-name"> <span><a href="https://uk.trustpilot.com/reviews/61e13aa5a16c1e751f68d7c8" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Lee Mabbutt</a></span>
        </div>
      </div>
      <div class="tp-review">
        <div class="review-rating"> <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="Trustpilot Rating" width="100px" height="auto">
        </div>
        <div class="review-title"> <span>Great product</span>
        </div>
        <div class="review-content"> <span>Great product, exchanged a garment for a bigger size, no fuss and back to me within 4 days. 5 stars.</span>
        </div>
        <div class="review-name"> <span><a href="https://uk.trustpilot.com/reviews/61e07e10e1196e51d7630ef6" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Nigel Gill</a></span>
        </div>
      </div>
      <div class="tp-review">
        <div class="review-rating"> <img src="https://cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="Trustpilot Rating" width="100px" height="auto">
        </div>
        <div class="review-title"> <span>Excellent price and prompt delivery</span>
        </div>
        <div class="review-content"> <span>Excellent price and prompt delivery. Broad range of products and easy to use website.</span>
        </div>
        <div class="review-name"> <span><a href="https://uk.trustpilot.com/reviews/61deaf52e1196e51d7613ec0" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">James</a></span>
        </div>
      </div>     
    </div>
    </div>
  </div>
</section>

<!-- TrustBox widget - Micro Combo -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="53f365d8000064000579b705" data-style-height="50px" data-style-width="100%" data-theme="light">
  <a style="color: #fff;" href="https://uk.trustpilot.com/review/www.ardmoor.co.uk" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->

{% schema %}
{
  "name": "Trustpilot Examples",
  "presets": [
    {
      "category": "Text",
      "name": "Trustpilot Examples"
    }
  ]
}
{% endschema %}